tianshou==0.4.0

opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
box2d==2.3.10
box2d-kengz==2.3.3

torch==1.13.1
torchvision==0.14.0

gym==0.17.3
affordable==0.0.1
leibniz==0.1.62

redis==4.4.4
